# A kube config will be stored at the project dir
KUBECONFIG=$PWD/.kube/config
TF_VAR_kubeconfig_path=$KUBECONFIG

AWS_DEFAULT_REGION=eu-central-1

# This variable is required to create a remote state backend on the development machine
# on CI pipeline will be populated from Gitlab CI predefined variables
TF_VAR_root_gitlab_project=

# Set this variable in order to add cluster as a group cluster and share a Kubernetes cluster 
# across your group projects
TF_VAR_root_gitlab_group=

# References:
# - https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html
# - https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html#limiting-scopes-of-a-personal-access-token
# - https://www.terraform.io/docs/providers/gitlab/index.html#argument-reference
GITLAB_TOKEN=
GITLAB_BASE_URL=https://gitlab.com/api/v4/

# helmfile environment variables
CREATE_NAMESPACE_IF_MISSING=false # indicate whether the namespace should be created if it does not exist
HELM_HOST=localhost:44134
TILLER_NAMESPACE=tillerless
